.board{
  position: absolute;
  top: 60%;
  left: 51%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
}

td{
  border: 2px solid #000;
  width: 3vw;
  height: 3vw;
}

table{
  position: relative;
  border-spacing: 0;
}

tr:nth-child(2n + 1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n + 1){
  background: rgb(0, 0, 0)
}

tr:nth-child(2n) td:nth-child(2n), td:nth-child(n){
  background: rgb(255, 255, 255);
}

img{
  height: 2.8vw;
  width: 2.8vw;
  text-align: center;
}

.banner{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}