.board{
  position: absolute;
  top: 50%;
  left: 51%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
}

h1{
  text-align: center;
  color: #fff;
  font-family: "Avengeance Heroic Avenger", sans-serif;
  font-size: 60px;
  margin: 20px auto 10px auto;
  text-shadow: 2px 2px black;

}

td{
  border: 0.5px solid #000;
  width: 4vw;
  height: 4vw;
}

table{
  border: 3px solid rgb(195, 56, 56);
  position: relative;
  border-spacing: 0;
}

tr:nth-child(2n + 1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n + 1){
  background: rgb(0, 0, 0)
}

tr:nth-child(2n) td:nth-child(2n), td:nth-child(n){
  background: rgb(255, 255, 255);
}

img{
  height: 3.8vw;
  width: 3.8vw;
  text-align: center;
}

.banner{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

