.board{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
}

td{
  border: 2px solid #000;
  width: 5vw;
  height: 5vw;
}

table{
  position: relative;
  border-spacing: 0;
}

tr:nth-child(2n + 1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n + 1){
  background: #000
}

tr:nth-child(2n) td:nth-child(2n), td:nth-child(n){
  background: #fff;
}

img{
  height: 4.5vw;
  width: 4.5vw;
}



.banner{
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}